version: '3.8'

services:
  eris-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: eris-app
    ports:
      - "8081:80"
    restart: unless-stopped
    depends_on:
      - api

  api:
    build:
      context: ./server
      dockerfile: Dockerfile #(We might need to create a simple dockerfile or just use node image inline if possible, but safer to build)
    image: node:18-alpine
    working_dir: /app
    volumes:
      - ./server:/app
      - /app/node_modules
    command: sh -c "npm install && npm start"
    ports:
      - "3000:3000"
    restart: unless-stopped
    # volumes:
    #   - .:/app
    #   - /app/node_modules
